h1{
  font-size: 90px;
}

h1,nav{
  width: 1200px;
  padding: 40px 20px 20px 20px !important;
  color: rgb(97, 118, 75);
}

.botones{
  background-color:rgb(97, 118, 75)!important;
  color: rgb(171, 206, 102);
}

.botones:hover{
  background-color: rgb(171, 206, 102) !important;
  color: rgb(97, 118, 75)!important;
  /*width: fit-content;  */ 
}